# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Env
.env
*.json
!package.json

# Outputs
outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# OAuth tokens
*_token.json
client_secrets.json


.venv
